.body{
    height:max-content;
}
.mainPage{
    background-color:  rgb(233, 232, 232);
    height:max-content;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    padding-top:2rem;
    
}
.mainLogo{
    max-width:60%;
}

.nav-links{
    margin-bottom: 0;
}