.aboutContainer{
    margin:4rem;
    padding:4rem;
    padding-top:2rem;
    height:80%;
    background-color: rgb(233, 232, 232);
    border: 5px solid lightgray;
    border-radius: 5px;
}
.aboutHeader{
    display: grid; 
    grid-template-columns : 1fr 1fr 1fr 1fr;
    grid-template-areas: "aboutTitle . . aboutImg";
}

.aboutTitle{
    color:black;
    grid-area:aboutTitle;
    padding-top: 5rem;
}

.aboutImg{
    display:block;
    height:200px;
    grid-area:aboutImg; 

}

.aboutText{
    width:70%;

}