.Heading {
    font-size: 35px;
    color: "black";
    text-align: center;
    margin-bottom: 5px;
  }

.BubblePrice{
    font-weight: bold;
}

.BubbleDetails{
    color: black;
    font-size: 15px;

}

.BubbleImg{
    height: 150px;
    width: 150px;
    filter: drop-shadow(20px 10px 4px rgb(60, 60, 60));
}

.Bubbles{
    background-color: rgb(233, 232, 232);
    margin: 1%;
    padding: 15px;
    border: 1px solid lightgray;
    width: 25%;
    border-radius: 5px;
}

.CartButton {
    background-color: rgb(245, 245, 245);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
}

.DetailButton {
    background-color: rgb(245, 245, 245);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
}

.Bubbles:hover {
    border: 2px solid green;
    cursor: pointer;
}

.CartButton:hover {
    background-color: green;
    font-weight: bold;
    cursor: pointer;
}

.DetailButton:hover {
    background-color: green;
    cursor: pointer;
}


.Layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    column-gap: 10px;
    row-gap: 10px;
}