.nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    list-style: none;
    height: 100%;
    background-color: #4e4e4d;
    grid-template-areas:"logo items items items items";
    margin-top:0;
}
.logo{
    height:4rem;
    grid-area:"logo";
    
}
.title{
    grid-area:"title";
    color:white;
    right:0;
  
    
}
.logoContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "logo title";
    
}

.navbar-item{
    grid-area:"items";
    text-decoration: none;
    color:white;

}
.num{
    
}
.products{

}
.bundles{

}
.about{

}

.cart{
    height:2rem;
    grid-column: 4/5;
}